@import 'colourPalette.sass'

body
	font-family: 'Karla', sans-serif
.nav
	position: fixed
	display: flex
	justify-content: space-between
	flex-direction: row
	top: 0
	left: 0
	right: 0
	padding: 20px
	border-bottom: 1px solid $lightgrey
	background: white
button
	background: $blue
	color: white
	border: 0px
	padding: 10px
	width: 100px
	cursor: pointer
	&.delete
		background: $orange
		width: 150px
		float: right
	&.confirm
		width: auto
.hyperlink
	color: $blue
	padding: 0
	border: 0
	background: transparent
	width: auto
	text-decoration: none
	&:focus
		outline: 0
.container
	max-width: 90%
	width: 970px
	margin: 0 auto
	text-align: center
	margin-top: 80px
.full-page
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	background: $white
	text-align: center
	form
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		text-align: left
.modal
	padding: 20px
	border-radius: 5px
	border: 1px solid $lightgrey
	background: white
	width: 400px
	max-width: 90%
	margin: 0 auto
	.col
		width: 90%
		position: relative
		padding: 10px 0
	input
		width: calc(100% - 10px)
		margin: 0
		padding: 5px
		border: 1px solid $lightgrey
		&.error
			border: 1px solid $orange
	.error-info
		margin: 5px 0
	h5
		font-size: 20px
		margin: 10px 0
	label
		color: $lightgrey
		text-transform: uppercase
		font-size: 14px
	.forgotten
		margin: 5px 0
		position: absolute
		right: 5px
		top: 30px
	span
		margin-left: 5px
.overlay
	position: absolute
	background: transparentize($white, 0.5)
	z-index: 2
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	align-items: center
	justify-content: center

@keyframes spin
	100%
		transform: rotate(360deg)

.spinner
	width: 100px
	height: 100px
	display: flex
	justify-content: center
	align-items: center
	margin: 10px 20px
	&:before
		content: ""
		color: white
		height: 50px
		width: 50px
		background: transparent
		border-radius: 50%
		border: 5px solid transparent
		border-color: $blue $blue transparent transparent
		animation: spin .8s infinite
